// Fonts
$font-family-primary: "Playpen Sans Variable", cursive;

// Font-size
$font-size-xl: 52px;
$font-size-lg: 42px;
$font-size-md: 36px;
$font-size-sm: 20px;
$font-size-xs: 18px;
$font-size-2xs: 16px;
$font-size-3xs: 14px;

// Font-weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
